@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #FF7F3E;
    --color-secondary: #5CB338;
}
